.root{
    -fx-background-image:
        url("../images/board/table_background.jpeg"),
        url("../images/board/background_board.png");
    -fx-background-repeat: repeat, no-repeat;
	-fx-background-position: center, center;
	-fx-background-size: contain, contain;
}
