.root{
	-fx-background-color: linear-gradient(#000, #fff);
	-fx-background-image: url("../images/board/table_background.jpeg");
	-fx-background-repeat: repeat;	
	-fx-background-position: center;
	-fx-background-size: contain;
}
