.root{
	-fx-background-color: linear-gradient(#000, #fff);
	-fx-background-image: url("../images/board/main_board.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: contain;
}
